/*Welcome*/
#events {
    padding-top: 40px;
    min-height: 100vh;
}

#home {
    min-height: 100vh;
    height: 100vh;
}

#about {
    padding-top: 60px!important;
    min-height: 100vh;
}

#timeline {
    padding-top: 60px;
    min-height: 100vh;
}

/*Contact*/
#contact div .container {
    margin-top: 48px;
}

.navbar {
    margin-bottom: 0px;
}

body {
    min-height: 100vh;
}

.event-details {
    margin-top: -50px;
    min-height: 100vh;
    padding-bottom: 100px;
}

#events div .row {
    margin-bottom: 30px;
}

.akun {
    min-height: 100vh;
    padding-bottom: 100px;
}

.akun ol {
    margin-top: 50px;
}

.alert-danger ul {
    list-style: none;
}

#sponsor {
    margin: 30px 0;
}

.event-details ol {
    margin-top: 70px;
}

.event-details .col-md-10 {
    margin-top: 70px;
}

.event-details div img {
    margin-top: 0px;
}

.footer-bottom {
    margin-top: -50px;
}

.cd-timeline-navigation {
    list-style: none;
}

.tab-pane p {
    text-indent: 1.5em;
    text-align: justify;
}

.tab-pane ol li {
    text-align: justify;
}

.tab-pane ul li {
    text-align: justify;
}

.tab-pane ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.ketentuan {
    margin-top: 50px;
}

.ketentuan h3 {
    margin-top: 0px;
}

.ketentuan ol {
    margin-top: 0px;
    margin-left: 15 px;
}

.tab-pane ol ul {
    display: block;
    list-style-type: circle;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

.tab-pane br {
    text-indent: 1em;
}

.content {
    text-align: justify;
    text-indent: 3em;
}

.coming-semnas {
    margin: 20px 20px 20px 0;
}

.coming-semnas-details {
    margin-top: 80px;
}

.message {
    text-align: center;
    border: none;
}

.alert ul {
    list-style: none;
}

.capti{
    margin-top: 10vh;
}

#owl-example .owl-controls{
    margin-top: 20vh!important;
}

@media (min-width: 992px) {
    .pull-right-md{
        float: right;
    }

}

@media (max-width: 750px) {
    .contact-us, .social{
        text-align: center;
    }

    .social-center{
        text-align: center; 
    }
    
}